@font-face {
    font-family: "Hind Madurai Light";
    src: url("../fonts/HindMadurai-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Medium";
    src: url("../fonts/HindMadurai-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Bold";
    src: url("../fonts/HindMadurai-Bold.ttf") format("truetype");
}

@font-face {font-family:Roboto; font-style:normal; font-weight:300; src: url("../fonts/Roboto-Light.ttf");}
@font-face {font-family:Roboto; font-style:normal; font-weight:400; src: url("../fonts/Roboto-Regular.ttf");}
@font-face {font-family:Roboto; font-style:normal; font-weight:600; src: url("../fonts/Roboto-Medium.ttf");}
@font-face {font-family:Roboto; font-style:normal; font-weight:700; src: url("../fonts/Roboto-Bold.ttf");}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
}

a,
a:hover,
a:focus,
a:active {
    color: #3097d1;
    text-decoration: none;
}

.btn {
    font-size: 1rem;
}

.btn-link {
    color: #3097d1;
}

.btn-link:focus, .btn-link:hover {
    color: #216a94;
    text-decoration: underline;
    background-color: transparent;
}

.table td {
    vertical-align: middle;
}

.action-column i {
    webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
}

.action-column.edit i {
    background: #3097d1;
    color: #fff;
}
.action-column.remove i {
    background: red;
    color: #fff;
}

.action-column.remove button {
    background: none;
    border: none;
}

.table .fa-check {
    color: green;
}

.table .fa-times {
    color: red;
}