body {
    padding: 50px 50px 17px 50px;
    font-family: "Hind Madurai Medium";
}

.tp-login-background {
    background: #191919;
    position: relative;
}

.box-login {
    background: transparent;
    border-color: #3498db;
    max-width: 350px;
}

.box-login .panel-heading{
    color: #fff;
    background: transparent;
    border-color: #3498db;
}

.box-login input[type="text"], .box-login input[type="password"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 180px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
}

.box-login input[type="text"]:focus, .box-login input[type="password"]:focus {
    width: 250px;
    border-color: #2ecc71;
}

.box-login input[type="text"].is-invalid, .box-login input[type="password"].is-invalid {
    border: 2px solid #dc3545;
}

.box-login button[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box-login button[type="submit"]:hover {
    background: #2ecc71;
}

.box-login .checkbox {
    width: 120px;
    margin: 20px auto;
    color: #fff;
}

.box-login input[type="checkbox"] {
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    margin: 0 0 0 -50px;
    cursor: pointer;
}

.box-login input:checked[type="checkbox"] {
    background: #2ecc71;
}

.box-login input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.box-login input:checked[type="checkbox"]:before {
    left: 20px;
}

.tp-login-text-container {
    position: relative;
    margin-left: 70px;
    color: #fff;
    font-size: 2rem;
}

.tp-login-logo {
    color: #2ecc71;
    font-size: 6rem;
}

.tp-login-logo b {
    color: #fff;
}

footer {
    color: #fff;
}